<a class="github-button" ng-href="https://github.com/charisTheo/{{ selectedCard.github_repo_name }}" data-icon="octicon-star"
data-show-count="true" aria-label="Star charisTheo/myrepo on GitHub">Star</a>
<a class="github-button" ng-href="https://github.com/charisTheo/{{ selectedCard.github_repo_name }}/subscription"
data-icon="octicon-eye" data-show-count="true" aria-label="Watch charisTheo/myrepo on GitHub">Watch</a>
<a class="github-button" ng-href="https://github.com/charisTheo/{{ selectedCard.github_repo_name }}/fork"
data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork charisTheo/myrepo on GitHub">Fork</a>
