<md-list>
    <md-list-item>
        <md-button class="md-secondary">Home</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-secondary">Projects</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-secondary">Blog</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-secondary">Hire Me</md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="md-secondary">Contact</md-button>
    </md-list-item>
</md-list>