<md-list class="small-padding">
  <md-list-item>
    <md-button class="md-secondary" ng-href="https://medium.com/@charistheodoulou" data-analytics="Navigation Blog">Blog</md-button>
  </md-list-item>
  <md-list-item>
    <md-button 
      class="md-secondary" 
      ng-href="https://www.peopleperhour.com/hire/me/1866524758/1523363?next=https%3A%2F%2Fwww.peopleperhour.com%2Ffreelancer%2Fdevelopment-it%2Fcharis-theodoulou-web-developer-zqyxxwx%3Fref%3Dhireme" 
      data-analytics="Navigation Peopleperhour"
    >Hire Me</md-button>
  </md-list-item>
  <md-list-item>
    <md-button class="md-secondary" ng-click="onContactClick()" data-analytics="Navigation Contact">Contact</md-button>
  </md-list-item>
</md-list>
