<md-list class="small-padding">
  <!-- <md-list-item>
    <md-button class="md-secondary">Home</md-button>
  </md-list-item> -->
  <md-list-item>
    <md-button class="md-secondary" ng-href="https://medium.com/@charistheodoulou" data-analytics="Navigation Blog">Blog</md-button>
  </md-list-item>
  <md-list-item>
    <md-button class="md-secondary" ng-click="onHireMeClick()" data-analytics="Navigation Hire Me">Hire Me</md-button>
  </md-list-item>
  <md-list-item>
    <md-button class="md-secondary" ng-click="onContactClick()" data-analytics="Navigation Contact">Contact</md-button>
  </md-list-item>
</md-list>
