<!---------- PERSONAL LINKS ----------->
<md-list layout="row" layout-align="center center" class="social-links">
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://github.com/charisTheo"
      target="_blank"
      aria-label="My Github Profile"
      class="md-primary md-fab"
    >
      <i class="fab fa-github fa-lg"></i>
    </md-button>
  </md-list-item>
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://t.me/charisTheo"
      target="_blank"
      aria-label="My Telegram Contact"
      class="md-primary md-fab"
    >
      <i class="fab fa-telegram-plane fa-lg"></i>
    </md-button>
  </md-list-item>
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://stackoverflow.com/story/charistheo"
      target="_blank"
      aria-label="My StackOverflow Profile"
      class="md-primary md-fab"
    >
      <i class="fab fa-stack-overflow fa-lg"></i>
    </md-button>
  </md-list-item>
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://twitter.com/charisTheo_dev"
      target="_blank"
      aria-label="My Twitter Profile"
      class="md-primary md-fab"
    >
      <i class="fab fa-twitter fa-lg"></i>
    </md-button>
  </md-list-item>
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://www.linkedin.com/in/charistheo"
      target="_blank"
      aria-label="My LinkedIn Profile"
      class="md-primary md-fab"
    >
      <i class="fab fa-linkedin-in fa-lg"></i>
    </md-button>
  </md-list-item>
</md-list>
