<!---------- PERSONAL LINKS ----------->
<md-list layout="row" layout-align="center center" class="social-links">
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://github.com/charisTheo"
      target="_blank"
      rel="noopener"
      aria-label="My Github Profile"
      class="md-primary md-fab"
      data-analytics="Social Github"
    >
    <span class="github-icon"></span>
    </md-button>
  </md-list-item>
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://t.me/charisTheo"
      target="_blank"
      rel="noopener"
      aria-label="My Telegram Contact"
      class="md-primary md-fab "
      data-analytics="Social Telegram"
    >
    <span class="telegram-icon"></span>
    </md-button>
  </md-list-item>
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://stackoverflow.com/story/charistheo"
      target="_blank"
      rel="noopener"
      aria-label="My StackOverflow Profile"
      class="md-primary md-fab"
      data-analytics="Social StackOverflow"
    >
    <span class="stack-overflow-icon"></span>
    </md-button>
  </md-list-item>
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://twitter.com/charisTheo_dev"
      target="_blank"
      rel="noopener"
      aria-label="My Twitter Profile"
      class="md-primary md-fab "
      data-analytics="Social Twitter"
    >
    <span class="twitter-icon"></span>
    </md-button>
  </md-list-item>
  <md-list-item flex="15" flex-gt-sm="5">
    <md-button
      ng-href="https://www.linkedin.com/in/charistheo"
      target="_blank"
      rel="noopener"
      aria-label="My LinkedIn Profile"
      class="md-primary md-fab "
      data-analytics="Social LinkedIn"
    >
    <span class="linkedin-icon"></span>
    </md-button>
  </md-list-item>
</md-list>
