<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#6200ea">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0">
  <meta name="description" content="I love cooking &amp; coding and I've managed to mix those two and passionately work on projects I enjoy. Currently designing the future kitchen!">
  <meta name="author" content="www.github.com/charisTheo">
  <meta property="og:site_name" content="charisTheo Portfolio website" />
  <meta property="og:description" content="I love cooking &amp; coding and I've managed to mix those two and passionately work on projects I enjoy. Currently designing the future kitchen!" />
  <meta property="og:url" content="https://charisTheo.github.io/" />
  <meta property="og:image" content="https://avatars2.githubusercontent.com/u/9759549?s=400&u=421a644722383a6a6c28fa32f016bda079c245e9&v=4" />

  <title>charisTheo Portfolio website</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Screenshot Grabber -->
  <script src="https://cdn.jsdelivr.net/gh/GrabzIt/grabzit@js-3.2.9.8/javascript/grabzit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Particles.js -->
  <script src="./particles/particles.js"></script>

  <!-- TweenLite -->
  <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>


  <link rel="stylesheet" href="./styles/scrollBar.css" type="text/css">
  <link rel="stylesheet" href="./styles/styles.css" type="text/css">
  <!-- <link rel="stylesheet" href="./styles/card.css" type="text/css"> -->
  <link rel="stylesheet" href="./styles/media.css" type="text/css">

  <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css" type="text/css">
  <link rel="stylesheet" href="/node_modules/mdi/css/materialdesignicons.css" type="text/css">
</head>

<body ng-app="Portfolio" ng-controller="PortfolioCtrl">
  
  <!---------- SIDE NAV ----------->
  <md-sidenav 
    md-component-id="left" 
    class="md-sidenav-left md-whiteframe-z2" 
    ng-if="!$mdMedia('min-width: 959px')"
  >
    <md-content>
      <md-toolbar layout-align="center right">
          <md-button 
            md-colors="{color: 'accent'}" 
            ng-click="toggleSideNav()" 
            class="md-icon-button" 
            aria-label="Settings"
          >
            <i class="material-icons">close</i>
          </md-button>
      </md-toolbar>
      <!-- Partial template -->
      <side-nav-list></side-nav-list>
    </md-content>
  </md-sidenav>
  <!---------- end of SIDE NAV ----------->

  <!---------- TOP BAR MENU ----------->
  <md-toolbar>
    <div class="md-toolbar-tools" md-colors="{color: 'accent'}">
      <md-button 
        ng-click="toggleSideNav()" 
        class="md-icon-button" 
        aria-label="Show side menu"
        ng-if="!$mdMedia('min-width: 959px')"
      >
          <i class="material-icons">menu</i>
      </md-button>
      <p><strong>Charis Theo</strong></p>

      <side-nav-list 
        ng-if="$mdMedia('min-width: 959px')"
      >
      </side-nav-list>
    
      <md-button class="top-nav-search-btn" ng-click="showFilters = !showFilters" aria-label="search the website">
        <md-icon class="mdi mdi-magnify" md-colors="{color: 'accent'}"></md-icon> 
      </md-button>   
    </div>
  </md-toolbar>    
  <!---------- end of TOP BAR MENU ----------->


  <main>
    <div class="container">
      <div id="particles-js"></div>

    <!---------- SEARCH FILTERS INPUT ----------->
      <div ng-show="showFilters" layout="row" class="filters" layout-align="center center">
        <md-input-container class="search-term">
          <label>Search the website</label>
          <input type="text" ng-model="searchFilter">
        </md-input-container>
        <md-input-container>
          <md-button class="md-warn" ng-click="searchFilter = ''">
            clear
          </md-button>
        </md-input-container>
      </div>
    <!---------- end of SEARCH FILTERS INPUT ----------->

    <!---------- PERSONAL INFO & SOCIAL LINKS ----------->
      <div class="personal-info">
        <div class="follow-me-button">
          <a class="github-button" href="https://github.com/charisTheo" data-show-count="true" aria-label="Follow @charisTheo on GitHub">Follow
            @charisTheo</a>
        </div>

        <ul class="social-links">
          <li>
            <a href="https://github.com/charisTheo" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://stackoverflow.com/users/7380613/charis-theo" target="_blank">
              <i class="fab fa-stack-overflow"></i>
            </a>
          </li>
          <li>
            <a href="https://t.me/charisTheo" target="_blank">
              <i class="fab fa-telegram-plane"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/haris.theodoulou" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/CharisTheodoul1" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/charistheo/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>

      <md-content 
        id="projects" 
        class="md-padding perspective-parent"
        layout-wrap
        layout="row"
        layout-xs="column"
      >
        <!---------- CARDS ----------->
        <md-card 
          md-theme="{{'default'}}" 
          md-theme-watch
          class="card perspective-item"
          ng-mousemove="MouseMoveHandler($event)"
          ng-mouseenter="MouseEnterHandler($event)" 
          ng-mouseleave="MouseLeaveHandler($event)" 
          ng-repeat="project in projects | filter: searchFilter"
          ng-click="selectCard($index)"
          flex-gt-xs="30"
        >
          <md-button ng-show="$index == selectedCard" class="md-icon-button card-toggle">
            <i class="material-icons" md-colors="{color: 'accent'}">close</i>
          </md-button>

          <img ng-src="{{ project.images[0].src }}" class="md-card-image" alt="Projects image/screenshot">
          
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{ project.title }}</span>
              <span class="md-subhead">{{ project.subtitle }}</span>
            </md-card-title-text>
            </md-card-title>
            <md-card-content ng-show="$index == selectedCard">{{ project.description }}</md-card-content>
            <md-card-actions layout="column">
                <a class="github-button" ng-href="https://github.com/charisTheo/{{ project.github_repo_name }}" data-icon="octicon-star"
                  data-show-count="true" aria-label="Star charisTheo/myrepo on GitHub">Star</a>
                <a class="github-button" ng-href="https://github.com/charisTheo/{{ project.github_repo_name }}/subscription"
                  data-icon="octicon-eye" data-show-count="true" aria-label="Watch charisTheo/myrepo on GitHub">Watch</a>
                <a class="github-button" ng-href="https://github.com/charisTheo/{{ project.github_repo_name }}/fork"
                  data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork charisTheo/myrepo on GitHub">Fork</a>
  
                <md-button class="md-icon-button">
                  <!-- TODO: make it full if pressed <i class="material-icons">favorite</i> -->
                  <i class="material-icons">favorite_border</i>
                </md-button>
                <md-button class="md-icon-button share-button" ng-href="{{ project.url }}">
                    <span class="share-button-text" hidden>
                      {{ project.share_description }}
                    </span>
                    <i class="material-icons">share</i>
                </md-button>
              </md-card-actions>
          </md-card>


      </md-content>
  </main>

  <!-- Angular -->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-animate/angular-animate.js"></script>
  <script src="/node_modules/angular-aria/angular-aria.js"></script>
  <script src="/node_modules/angular-messages/angular-messages.js"></script>
  <script src="/node_modules/angular-material/angular-material.js"></script>
  <script src="./js/app.js"></script>
  <script src="./components/card.ctr.js"></script>
  <script src="./components/perspective-hover.fac.js"></script>

  <script src="./js/share.js"></script>

</body>

</html>