/***************************
****************************
Reset Styles
****************************
***************************/
*, html ,body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    background-image: -webkit-linear-gradient(180deg, #2962ff 20%, #0039cb 80%); 
    background-image:    -moz-linear-gradient(180deg, #2962ff 20%, #0039cb 80%); 
    background-image:     -ms-linear-gradient(180deg, #2962ff 20%, #0039cb 80%); 
    background-image:      -o-linear-gradient(180deg, #2962ff 20%, #0039cb 80%); 
    background-image:         linear-gradient(180deg, #2962ff 20%, #0039cb 80%);
    height: 100%;
    width: 100%;
}
body {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Orbitron', cursive;
    margin: 0;
    -webkit-tap-highlight-color: #f44336;
}
main {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}
main #title {
    text-decoration: none;
    outline: none;
}
main #title h1 {
    color: #c6ff00;
    text-decoration: none;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0px 10px;
}
main #title:active,
main #title:hover {
    outline: none;
    text-decoration: none;
    color: #90cc00;
}
main #title:focus {
    outline: none;
    text-decoration: none;
}
main button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    text-align: center;
    background-color: #90cc00;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.6);
}
main button:active {    
    background-color: #c6ff00;
    box-shadow: 2px 1px rgba(0, 0, 0, 0.6);
}

::-moz-selection {
    background: #f44336;
    text-shadow: none; }
  
  ::selection {
    background: #f44336;
    text-shadow: none; }
  
  img::selection {
    background: transparent; }
  
  img::-moz-selection {
    background: transparent; }

/***************************
****************************
Layout Styles
****************************
***************************/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;  /*when adding left and right padding with the max-width = 1200px,*/
    max-width: 1170px;  /* which is our large device breakpoint.*/
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after { /*:after & :before are determining the are before and after the specific element*/
  content: "";
  clear: both;    /* clear any floated elements inside the .row*/
  display: table;
}

[class*='col-'] { /*targets all classes that start with .col-,*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/***************************
****************************
Theme Styles
****************************
***************************/


.background-primary {
  background: #F7941E; /*Orange*/
}
.background-secondary {
  background: #00AEEF; /*Blue*/
}
.background-tertiary {
  background: #8DC63F; /*Green*/
}
.background-quaternary {
  background: grey;
}





/*Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */

