
/***************************
****************************
        LAYOUT STYLES
****************************
***************************/
*, html ,body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Michroma', sans-serif;
    margin: 0;
    color: #6200ea;
    -webkit-tap-highlight-color: #03dac58f;
}
main {
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 10px 0;
    overflow-x: hidden;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;  /*when adding left and right padding with the max-width = 1200px,*/
    max-width: 1170px;  /* which is our large device breakpoint.*/
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after { /*:after & :before are determining the are before and after the specific element*/
  content: "";
  clear: both;    /* clear any floated elements inside the .row*/
  display: table;
}
[class*='col-'] { /*targets all classes that start with .col-,*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
hr {
  border-color: #0a00b6;
  border-style: solid;
}

.background-primary {
  background: #6200ea; 
  color: #fff;
}
.background-primary-dark {
  background-color: #0a00b6;
  color: #fff;
}
.background-secondary {
  background: #03dac5;
  color: #000;   
}
.background-secondary-dark {
  background: #00a895;
  color: #000;   
}

::-moz-selection {
    background: #03dac58f;
    text-shadow: none; }
  
  ::selection {
    background: #03dac58f;
    text-shadow: none; }
  
  img::selection {
    background: transparent; }
  
  img::-moz-selection {
    background: transparent; }


/***************************
****************************
        CUSTOM STYLES
****************************
***************************/
main #title {
    text-decoration: none;
    text-align: center;
    outline: none;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0px 10px;
}
main .project-link-container {
    margin: 20px;
    display: block;
}
main .personal-info {
  text-align: center;
}
main .personal-info .follow-me-button {
  margin: 20px;
}
main .personal-info .social-links {
  list-style: none;
}
main .personal-info .social-links li {
  display: inline-block;
  font-size: 2em;
  margin: 10px;
}
main .personal-info .social-links li a i {
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  color: #6200ea;
}
main .personal-info .social-links li a i:hover,
main .personal-info .social-links li a i:focus {
  text-shadow: initial;
  color: #0a00b6;
}

/***************************
****************************
        THEME STYLES
****************************
***************************/
/*Color List:

primary: #6200ea
primary-dark: #0a00b6

secondary: #03dac5
secondary-dark: #00a895

*/