.images-container .md-card-image.selectedImage,
.images-container .md-card-image.selectedImage > img {
    object-fit: contain;
    flex-basis: 90%;
    flex-grow: 10;
    opacity: 1;
    outline: none;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
    -o-box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
    -ms-box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
    -moz-box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
    -webkit-box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
}
.images-container .md-card-image > img {
    width: 100%;
    display: block;
}
.images-container .md-card-image {
    transition: all 0.35s;
    width: 7%;
    flex-grow: 1;
    margin: 0 10px;
    flex-basis: 5%;
    flex-shrink: 5;
    opacity: 0.6;
}
.images-container {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    height: 80%;
    max-height: 80%;
    width: 80%;
    max-width: 80%;
    padding: 10px 30px;
}
