/* @media only screen and (min-width: 319px) {
    
}
@media only screen and (min-width: 479px) {
    
} */
@media only screen and (min-width: 600px) {
    .container  {
        margin: 0 auto;
    }
    .card.expanded {
      position: initial;
      overflow: initial;
      min-height: initial;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
      margin: 5vh 10px;
      padding: 15px;
      border-radius: 2px;
    }
    .card.expanded > img {
      order: 4;
      height: 40%;
      align-self: center;
    }
    .card.expanded > md-card-title {
      order: 3;
    }
    .card.expanded > md-card-content {
      order: 4;
    }
    .card.expanded > md-card-actions {
      order: 5;
    }
}
/* @media only screen and (min-width: 959px) {

} */

/* @media only screen and (min-width: 1439px) {
    
} */

@media (min-width: 48em) {    /* media query that will target small devices and above */
  [class*="col-"] {
    float: left;
  }
  .col-1-3 {    /*define a one-third width column*/
    width: 33.3333%;
  }
  .col-2-3 {    /*define a two-thirds width column*/
    width: 66.6666%;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-4 {
    width: 25%;
  }
  .pull-right-sm { /*float an element to the right*/
    float:right;
  }
}

@media (max-width: 959px) {
  body.ng-scope md-toast .md-toast-content {
    background-color: #03dac5;
    color: #000;  
  }
  body.ng-scope md-toast {
    margin: 0 auto;
    text-align: center;
    width: 80vw;
    bottom: 10vw; 
    position: fixed;
    background-color: #03dac5;
  }
}
