
/***************************
****************************
        LAYOUT STYLES
****************************
***************************/
*, html ,body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body.ng-scope {
    max-width: 100vw;
    width: 100%;
    height: auto; 
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Michroma', sans-serif;
    margin: 0;
    -webkit-tap-highlight-color: #03dac58f;
    background-color: #eee;
}
main {
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    overflow: visible;
    position: relative;
}
.md-fab {
  width: 40px !important;
  max-height: 40px !important;
  min-width: 40px !important;
  height: 40px !important;
  line-height: initial !important;
}
.container {
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;  /*when adding left and right padding with the max-width = 1200px,*/
    /* max-width: 1170px;  which is our large device breakpoint. */
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after { /*:after & :before are determining the are before and after the specific element*/
  content: "";
  clear: both;    /* clear any floated elements inside the .row*/
  display: table;
}
[class*='col-'] { /*targets all classes that start with .col-,*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
hr {
  border-style: solid;
}
.icon-label {
  transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -webkit-transition: opacity 0.35s;
  position: absolute;
  display: none;
  opacity: 0;
  z-index: 99;
  bottom: 40px;
  text-transform: initial;
  background-color: #03dac5;
  color: black;
  width: auto;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

}
.md-icon-button.md-button {
  overflow: initial;
}
i.material-icons:hover + .icon-label {
  opacity: 1;
  display: block;
}
/* THEME */
/* .background-primary {
  background: #6200ea; 
  color: #fff;
}
.background-primary-dark {
  background-color: #0a00b6;
  color: #fff;
}
.background-secondary {
  background: #03dac5;
  color: #000;   
}
.background-secondary-dark {
  background: #00a895;
  color: #000;   
} */

::-moz-selection {
    background: #69F0AE8f;
    text-shadow: none; }
  
  ::selection {
    background: #69F0AE8f;
    text-shadow: none; }
  
  img::selection {
    background: transparent; }
  
  img::-moz-selection {
    background: transparent; }

.night-mode {
  background-color: #303030 !important;
  color: #fff !important;
}
.night-mode-dark {
  background-color: #424242 !important;
  color: #fff !important;
}
/* .night-mode-darker {
  background-color: #222222 !important;
  color: #fff !important;
} */
/***************************
****************************
        CUSTOM STYLES
****************************
***************************/
#logo {
  margin-right: auto;
  background-color: white;
  padding: 0;
  margin: 10px;
}
#logo svg {
  width: 35px;
  height: 35px;
  vertical-align: sub;
}
#profile-photo-container {
  position: fixed;
  width: auto;
  bottom: 0;
  right: 0;
  height: 200px;
  z-index: 999;
  transform: translateY(200px);
  opacity: 0;
  transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
#profile-photo-container button {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: -5px 5px 18px -7px rgba(0,0,0,.5);
  -o-box-shadow: -5px 5px 18px -7px rgba(0,0,0,.5);
  -ms-box-shadow: -5px 5px 18px -7px rgba(0,0,0,.5);
  -moz-box-shadow: -5px 5px 18px -7px rgba(0,0,0,.5);
  -webkit-box-shadow: -5px 5px 18px -7px rgba(0,0,0,.5);
}
#profile-photo-container button:hover i,
#profile-photo-container button:active i,
#profile-photo-container button:focus i {
  color: rgb(177, 2, 2);
}
#profile-photo-container button i {
  color: red;
  margin: 2px;
}
#profile-photo-container #profile-photo {
  width: auto;
  height: 200px;
}
#profile-photo-container.show {
  transform: translateY(0px);
  transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  opacity: 1;
}
#profile-photo-container #follow-me-container {
  box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
  -o-box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
  -ms-box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
  -moz-box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
  -webkit-box-shadow: 0 3px 16px 0 rgba(0,0,0,.6);
  background-color: white;
  border-radius: 2px;
  padding: 6px 12px;
  right: 108px;
  top: 20px;
  position: absolute;
  width: 200px;;
}
#profile-photo-container #follow-me-container p {
  display: inline-block;
  margin: 0;
}
#profile-photo-container .eye:nth-child(1) {
  left: 61px;
}
#profile-photo-container .eye:nth-child(2) {
  left: 84px;
}
#profile-photo-container .eye {
  border-radius: 50%;
  margin: 0;
  padding: 3px;
  width: 10px;
  height: 6px;
  background-color: white;
  position: absolute;
  content: "";
  top: 91px;
}
#profile-photo-container .eye .iris {
  background-color: black;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
  margin: 0;
  content: "";
  position: absolute;
}

main #title {
    text-decoration: none;
    text-align: center;
    outline: none;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0px 10px;
}
main .project-link-container {
    margin: 20px;
    display: block;
}
main #projects {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* TOP NAV BAR */
side-nav-list {
  width: 100%;
  text-align: left;
}
.social-links > md-list-item {
  padding: 0;
}
.social-links a.md-button.md-fab {
  background-color: white;
  padding: 6px;
}
body.night-mode .social-links a.md-button.md-fab {
  background-color: #69F0AE;
}
.social-links .md-button:active,
.social-links .md-button:hover,
.social-links .md-button:focus {
  background-color: #eee !important;
}
.social-links .md-button span {
  background-size: contain;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.social-links .md-button .github-icon {
  background-image: url("../../../img/social-links/github-circle.svg");
}
.social-links .md-button .telegram-icon {
  background-image: url("../../../img/social-links/telegram.svg");
}
.social-links .md-button .twitter-icon {
  background-image: url("../../../img/social-links/twitter.svg");
}
.social-links .md-button .stack-overflow-icon {
  background-image: url("../../../img/social-links/stack-overflow.svg");
}
.social-links .md-button .linkedin-icon {
  background-image: url("../../../img/social-links/linkedin.svg");
}
.social-links a.md-button:hover,
.social-links a.md-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

md-toolbar {
  position: sticky;
  top: 0;
}
md-toolbar side-nav-list md-list.small-padding md-list-item {
  padding: 0px 5px;
  vertical-align: bottom;
}
md-sidenav {
  position: fixed;
}
/* top nav buttons overrides */
md-toolbar side-nav-list md-list md-list-item button.md-button {
  margin: 3px 4px;
}
md-sidenav md-list-item .md-secondary-container {
  margin-right: auto;
  margin-left: 0;
}
md-sidenav md-list-item .md-secondary-container .md-button {
  text-align: left;
}
@media only screen and (min-width: 959px) {
  md-toolbar .md-toolbar-tools {
    align-items: flex-end !important;
  }
  /* collapse side nav bar items */
  side-nav-list md-list-item {
    display: inline-block;
  }
}

/* CARD */
md-card {
  position: relative;
}
md-card.expanded {
  margin: 0;
  position: fixed;
  z-index: 12;
  top: 50px;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  border-radius: initial;
}
md-card.expanded md-card-actions {
  margin-bottom: 10vh;
}
md-card .card-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
md-card.card > img.banner-image {
  top: 0;
  opacity: 0.35;
  position: absolute;
  width: auto;
  max-height: 100%;
  padding: 15px;
  align-self: center;
}

.filters {
  align-items: flex-start;
}
body.night-mode .search-term input {
  border-color: rgba(255, 255, 255, 0.7);
}
body.night-mode .search-term label {
  color: rgba(255, 255, 255, 0.7);
}
button.md-button.top-nav-btn i {
  vertical-align: middle;
}
.card.ng-animate {
  transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

main #projects md-chips md-chips-wrap.md-chips {
  box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/***************************
****************************
        THEME STYLES
****************************
***************************/
/*Color List:

primary: #673AB7
primary-dark: #512DA8
primary-darker: #4527A0

secondary: #69F0AE

*/