@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/material-icons.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Michroma'), url(../../fonts/michroma.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/***************************
****************************
        LAYOUT STYLES
****************************
***************************/
*, html ,body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body.ng-scope {
    max-width: 100vw;
    width: 100%;
    height: auto; 
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Michroma', sans-serif;
    margin: 0;
    -webkit-tap-highlight-color: #03dac58f;
    background-color: #eee;
}
main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}
a {
  text-decoration: none;
}
.md-fab {
  width: 40px !important;
  max-height: 40px !important;
  min-width: 40px !important;
  height: 40px !important;
  line-height: initial !important;
}
.icon-label {
  transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -webkit-transition: opacity 0.35s;
  position: absolute;
  display: none;
  opacity: 0;
  z-index: 99;
  bottom: 40px;
  text-transform: initial;
  background-color: #03dac5;
  color: black;
  width: auto;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

}
.md-icon-button.md-button {
  overflow: initial;
}
i.material-icons:hover + .icon-label {
  opacity: 1;
  display: block;
}
/* THEME */
/* .background-primary {
  background: #6200ea; 
  color: #fff;
}
.background-primary-dark {
  background-color: #0a00b6;
  color: #fff;
}
.background-secondary {
  background: #03dac5;
  color: #000;   
}
.background-secondary-dark {
  background: #00a895;
  color: #000;   
} */

::-moz-selection {
    background: #69F0AE8f;
    text-shadow: none; }
  
  ::selection {
    background: #69F0AE8f;
    text-shadow: none; }
  
  img::selection {
    background: transparent; }
  
  img::-moz-selection {
    background: transparent; }

/***************************
****************************
        CUSTOM STYLES
****************************
***************************/
main .projects-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* TOP NAV BAR */
.top-nav-options > md-list-item {
  padding-right: 0px;
}
@media screen and (min-width: 767px) {
  .top-bar-menu > .md-toolbar-tools {
    height: 55px;
    max-height: 55px;
  }
}
@media screen and (min-width: 959px) {
  .top-bar-menu > .md-toolbar-tools .back-button {
    margin-bottom: 10px;
  }
  .top-nav-options .twitter-follow-button {
    margin-top: 6px;
    margin-right: 15px;
  }
}

side-nav-list {
  width: 100%;
  text-align: left;
}
.social-links > md-list-item {
  padding: 0px;
  margin: 0 5px;
}

.social-links a.md-fab.md-primary.md-button:hover,
.social-links a.md-fab.md-primary.md-button:focus,
.social-links a.md-fab.md-primary.md-button {
  background-color: #fff;
  padding: 6px;
}
.social-links a.md-fab.md-primary.md-button:active,
.social-links a.md-fab.md-primary.md-button:hover {
  box-shadow: none;
}
.social-links a.md-fab.md-primary.md-button:active {
  background-color: transparent;
}
.social-links .md-button span {
  background-size: contain;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.social-links .md-button .github-icon {
  background-image: url("../../../img/social-links/github-circle.svg");
}
.social-links .md-button .telegram-icon {
  background-image: url("../../../img/social-links/telegram.svg");
}
.social-links .md-button .twitter-icon {
  background-image: url("../../../img/social-links/twitter.svg");
}
.social-links .md-button .stack-overflow-icon {
  background-image: url("../../../img/social-links/stack-overflow.svg");
}
.social-links .md-button .linkedin-icon {
  background-image: url("../../../img/social-links/linkedin.svg");
}
.social-links a.md-button:hover,
.social-links a.md-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

md-toolbar {
  position: sticky !important;
  z-index: 14 !important;
  top: 0;
}
md-toolbar side-nav-list md-list.small-padding md-list-item {
  padding: 0px 5px;
  vertical-align: bottom;
}
md-sidenav {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  position: fixed;
}
/* side nav buttons overrides */
md-toolbar side-nav-list md-list md-list-item button.md-button {
  margin: 3px 4px;
}
md-sidenav md-list-item .md-secondary-container {
  margin-right: auto;
  margin-left: 0;
}
md-sidenav md-list-item .md-secondary-container .md-button {
  text-align: left;
}
@media screen and (min-width: 959px) {
  md-toolbar .md-toolbar-tools {
    align-items: flex-end !important;
  }
  /* collapse side nav bar items */
  side-nav-list md-list-item {
    display: inline-block;
  }
}

/* CARD */
.card {
  position: relative;
  width: 100%;
  max-width: 800px;
  transition: box-shadow 0.35s;
}
.card:not(.expanded):hover {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}
.card.expanded {
  position: fixed;
  z-index: 12;
  top: 50px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  border-radius: initial;
}
.card frameworks-images::before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}
.card frameworks-images .banner-image {
  top: 0;
  position: absolute;
  width: auto;
  max-height: 100%;
  padding: 15px;
  left: 0;
  max-width: 100%
}
.card .description {
  z-index: 10; 
  padding: 0;
}
.card .description > md-card-title {
  flex: 1 1 75%;
}
.card .card-video-container {
  text-align: center;
  flex: 1 1 auto;
}
.card .description .md-card-video {
  width: 100%;
  max-width: 300px;
}
.card .card-bottom-action-buttons {
  z-index: 1;
}
@media screen and (min-width: 767px) {
  .card:not(.expanded) {
    width: 40%;
  }
}

.filters {
  align-items: flex-start;
}
.md-button.top-nav-btn i {
  vertical-align: middle;
  transition: box-shadow 0.35s;
}
.md-button.pressed {
  box-shadow: none;
}
.card.ng-animate {
  transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

.projects-container md-chips md-chips-wrap.md-chips {
  box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/***************************
****************************
        THEME STYLES
****************************
***************************/
/*Color List:

primary: #673AB7
primary-dark: #512DA8
primary-darker: #4527A0

secondary: #69F0AE

*/