#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: transform 0.35s;
  }
  #page-loader::after {
    transition: transform 0.35s;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: -webkit-linear-gradient(120deg, rgb(103,58,183) 25%, rgb(105, 240, 174) 140%);
    background-image:    -moz-linear-gradient(120deg, rgb(103,58,183) 25%, rgb(105, 240, 174) 140%);
    background-image:     -ms-linear-gradient(120deg, rgb(103,58,183) 25%, rgb(105, 240, 174) 140%);
    background-image:      -o-linear-gradient(120deg, rgb(103,58,183) 25%, rgb(105, 240, 174) 140%);
    background-image:         linear-gradient(120deg, rgb(103,58,183) 25%, rgb(105, 240, 174) 140%);
  }
  #page-loader.hide::after {
    content: none;
  }
  #page-loader.hide {
    transition: transform 0.35s;
    transform: scale(0);
    transform-origin: 50% 50%;
    border-radius: 50%;
  }
  #page-loader #page-loader-logo {
    background-color: white;
    box-shadow: 0px 3px 10px 3px black;
    position: fixed; 
    width: 200px;
    height: 200px;
    margin: auto;
    display: inherit;
    padding: 20px;
    top: 30vh;
    left: 0;
    z-index: 1000;
    right: 0;
    border-radius: 50%;
    text-align: center;
    -webkit-animation: loading 1s infinite;
    -moz-animation: loading 1s infinite;
    -ms-animation: loading 1s infinite;
    -o-animation: loading 1s infinite;
    animation: loading 1s infinite;
  }
  #page-loader-logo svg {
    width: 150px;
    height: 150px;
  }
  @-webkit-keyframes loading  {
    50% { transform: scale(0.7) }
  }
  @-moz-keyframes loading {
    50% { transform: scale(0.7) }
  }
  @-ms-keyframes loading {
    50% { transform: scale(0.7) }
  }
  @-o-keyframes loading {
    50% { transform: scale(0.7) }
  }
  @keyframes loading {
    50% { transform: scale(0.7) }
  }