#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #fdd835; 
  }
  #page-loader::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;  
    position: absolute;
    left: 0;
    top: 0;
    background-image: -webkit-linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
    background-image:    -moz-linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
    background-image:     -ms-linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
    background-image:      -o-linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
    background-image:         linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
  }
  #page-loader.hide::after {
    content: none;
  }
  #page-loader.hide {
    transition: transform 0.35s;
    transform: scale(0);
    transform-origin: 50% 50%;
    border-radius: 50%;
  }
  #page-loader svg {
    position: fixed; 
    width: 50%;
    margin: auto;
    display: inherit;
    top: 30vh;
    left: 0;
    z-index: 1000;
    right: 0;
    -webkit-animation: loading 1s infinite;
    -moz-animation: loading 1s infinite;
    -ms-animation: loading 1s infinite;
    -o-animation: loading 1s infinite;
    animation: loading 1s infinite;
  }
  @-webkit-keyframes loading  {
    50% { transform: scale(0.7) }
  }
  @-moz-keyframes loading {
    50% { transform: scale(0.7) }
  }
  @-ms-keyframes loading {
    50% { transform: scale(0.7) }
  }
  @-o-keyframes loading {
    50% { transform: scale(0.7) }
  }
  @keyframes loading {
    50% { transform: scale(0.7) }
  }