
/***************************
****************************
        LAYOUT STYLES
****************************
***************************/
*, html ,body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body.ng-scope {
    max-width: 100vw;
    width: 100%;
    height: auto; 
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Michroma', sans-serif;
    margin: 0;
    -webkit-tap-highlight-color: #03dac58f;
}
main {
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 10px 0;
    overflow: visible;
    position: relative;
}
.container {
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;  /*when adding left and right padding with the max-width = 1200px,*/
    /* max-width: 1170px;  which is our large device breakpoint. */
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after { /*:after & :before are determining the are before and after the specific element*/
  content: "";
  clear: both;    /* clear any floated elements inside the .row*/
  display: table;
}
[class*='col-'] { /*targets all classes that start with .col-,*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
hr {
  border-style: solid;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.icon-label {
  transition: opacity 0.35s;
  position: absolute;
  display: none;
  opacity: 0;
  z-index: 99;
  bottom: 40px;
  text-transform: initial;
  background-color: #03dac5;
  color: black;
  width: auto;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.md-icon-button.md-button {
  overflow: initial;
}
i.material-icons:hover + .icon-label {
  opacity: 1;
  display: block;
}
/* THEME */
/* .background-primary {
  background: #6200ea; 
  color: #fff;
}
.background-primary-dark {
  background-color: #0a00b6;
  color: #fff;
}
.background-secondary {
  background: #03dac5;
  color: #000;   
}
.background-secondary-dark {
  background: #00a895;
  color: #000;   
} */

::-moz-selection {
    background: #69F0AE8f;
    text-shadow: none; }
  
  ::selection {
    background: #69F0AE8f;
    text-shadow: none; }
  
  img::selection {
    background: transparent; }
  
  img::-moz-selection {
    background: transparent; }


/***************************
****************************
        CUSTOM STYLES
****************************
***************************/
#profile-photo-container {
  position: fixed;
  width: auto;
  bottom: 0;
  right: 0;
  height: 200px;
  z-index: 999;
  transform: translateY(200px);
  opacity: 0;
  transition: all .5s ease-out;
  transition-delay: 0s;
}
#profile-photo-container button {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
}
#profile-photo-container button:hover i,
#profile-photo-container button:active i,
#profile-photo-container button:focus i {
  color: rgb(177, 2, 2);
}
#profile-photo-container button i {
  color: red;
  margin: 2px;
}
#profile-photo-container #profile-photo {
  width: auto;
  height: 200px;
}
#profile-photo-container.show {
  transform: translateY(0px);
  transition-delay: 1s;
  opacity: 1;
}
#profile-photo-container #follow-me-container {
  box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
  background-color: white;
  border-radius: 2px;
  padding: 6px 12px;
  right: 108px;
  top: 20px;
  position: absolute;
  width: 200px;;
}
#profile-photo-container #follow-me-container p {
  display: inline-block;
  margin: 0;
}
#profile-photo-container .eye:nth-child(1) {
  left: 61px;
}
#profile-photo-container .eye:nth-child(2) {
  left: 84px;
}
#profile-photo-container .eye {
  border-radius: 50%;
  margin: 0;
  padding: 3px;
  width: 10px;
  height: 6px;
  background-color: white;
  position: absolute;
  content: "";
  top: 91px;
}
#profile-photo-container .eye .iris {
  background-color: black;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
  margin: 0;
  content: "";
  position: absolute;
}
/* #profile-photo-container .eye span {
  background-color: black;
  border-radius: 50%;
  padding: 5px;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 0;
  content: "";
} */

main #title {
    text-decoration: none;
    text-align: center;
    outline: none;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0px 10px;
}
main .project-link-container {
    margin: 20px;
    display: block;
}
main #projects {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}

.perspective-parent {
  perspective: 70px;
}
.perspective-item {
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

/* TOP NAV BAR */
side-nav-list {
  width: 100%;
  text-align: center;
}
/* TODO: Align it on the right side of the top nav */
/* .social-links {
  float: right;
} */
.social-links md-list md-list-item {
  padding: 0;
}
.social-links button.md-button{
  min-width: initial;
  font-size: inherit;
  margin: 0 10px;
  padding: 10px;
}
.social-links a i {
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.social-links a i:hover,
.social-links a i:focus {
  text-shadow: initial;
}
md-toolbar {
  position: relative;
}
md-toolbar side-nav-list md-list.small-padding md-list-item {
  padding: 0px 5px;
}
/* top nav buttons overrides */
md-toolbar side-nav-list md-list md-list-item button.md-button {
  margin: 3px 4px;
}
md-sidenav md-list-item .md-secondary-container {
  margin-right: auto;
  margin-left: 0;
}
md-sidenav md-list-item .md-secondary-container .md-button {
  text-align: left;
}
@media only screen and (min-width: 959px) {
  md-toolbar .md-toolbar-tools {
    align-items: flex-end !important;
  }
  /* collapse side nav bar items */
  side-nav-list md-list-item {
    display: inline-block;
  }
}

/* CARD */
md-card {
  position: relative;
}
md-card.expanded {
  margin: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  border-radius: initial;
}
md-card .card-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
md-card.card img.md-card-image {
  border-radius: initial;
}
/* md-card .image-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(0,0,0,0.5) 75%); 
  background-image:    -moz-linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(0,0,0,0.5) 75%); 
  background-image:     -ms-linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(0,0,0,0.5) 75%); 
  background-image:      -o-linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(0,0,0,0.5) 75%); 
  background-image:         linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(0,0,0,0.5) 75%);
} */

.filters {
  align-items: flex-start;
}
button.md-button.top-nav-search-btn {
  min-width: initial;
  margin: 0 10px;
  padding: 10px;
  margin-left: auto;
}

.card.ng-enter,
.card.ng-move {
  transition: 0.4s all;
  opacity: 1;
}
.card.ng-enter.ng-enter-active, 
.card.ng-move.ng-move-active { 
  opacity: 1;
}
.card.ng-leave { 
  transition: 0.4s all;
  opacity: 0;
}
main .md-chips md-chip {
  background: #03dac545;
}
main #projects md-chips md-chips-wrap.md-chips {
  box-shadow: none;
}

/***************************
****************************
        THEME STYLES
****************************
***************************/
/*Color List:

primary: #673AB7
primary-dark: #512DA8
primary-darker: #4527A0

secondary: #69F0AE

*/